apiVersion: v1
kind: Service
metadata:
  name: image-service
  namespace: patientsystem
spec:
  selector:
    app: image-service
  ports:
  - protocol: TCP
    port: 3001
    targetPort: 3001
    nodePort: 30001
  type: NodePort
