apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: patientsystem
spec:
  selector:
    app: frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30000  # Du når din frontend på localhost:3000
  type: NodePort
