apiVersion: v1
kind: Service
metadata:
  name: search-service
  namespace: patientsystem
spec:
  selector:
    app: search-service
  ports:
  - protocol: TCP
    port: 8084
    targetPort: 8084
  type: ClusterIP
